@import url(https://fonts.googleapis.com/css?family=Tangerine);
.head {
  cursor: pointer;
}
.mainheading {
  font-size: 75px;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  margin-left: 500px;
  font-family: 'High Tower Text';
  text-align: center;
  justify-content: center;
}
header{

  color: #fff;
  height: 60px;
 top:0%;

 background-color:  #191C24;
  width: 100%;


}
header li {
  margin-right: 30px;
  transition: 0.5s;

  font-size: larger;
}
header li:hover {

  font-size: 150%;
  color: black;
  cursor: pointer;
}
header a {
  color: #fff;
}
.barIcon {
  font-size: 25px;
  background: none;
  color: #fff;

  border:cornsilk;
}

@media screen and (max-width: 768px) {
  .head .ad {
    display: none;
  }
  header .icon {
    display: none;
  }
  header .flex {
    display: none;
  }
  .barIcon {
    display:block;
    background-color: aliceblue;
  }
  header .navbar {
    position: absolute;
    display: block;
    background-color:  #292525;
    left: 0;
    top: 21%;
    transition: 0.5s;
    width: 100%;
    height: 50vh;
    z-index: 5;
    padding: 50px;
  }
  header .navbar {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }
  header .navbar ul li {
    margin-bottom: 60px;
  }
}
body{
 background-color: black ;
  font: 16px Rubik, sans-serif;
}